
<h1>Posts</h1>
<%= @posts.each do |row| %>
 <div class="container jumbotron">
   <h2><%=row.title %></h2>
   <p><%=row.content %></p>
   <a href="<%= post_path(row.id) %>" class="btn btn-primary">See post</a>
   <a href="<%= edit_post_path(row.id) %>" class="btn btn-default">Edit</a>

 </div>
<% end %>

<a href="<%= new_post_path %>" class="btn btn-success">New</a>
